$dark-cyan: #0E8784;
$light-cream: #FEFCF7;
$dark-grey-blue: #333D4B;
$grey: #83888F;
$pale-orange: #FDD6BA;

$heading-font: 'Fraunces', serif;
$body-font: 'Barlow', sans-serif;

:root {
    font-size: 1em;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

h1, h2, h3 {
    font-family: $heading-font;
}

p {
    font-family: $body-font;
}

.desktop-nav { 
    display: none;
}

.mobile-nav {
    display: flex;
    width: 100vw;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
}

.mobile-logo {
    height: 1.5rem;
}


header {

    text-align: center;
    color: $light-cream;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-image: url(/starter-code/assets/home/mobile/image-hero-coffeepress.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 7.5rem;

    h1 {
    
        margin-bottom: 24px;
        font-size: 2.5rem;
         
    }
    p {
    
        margin-bottom: 24px;
        line-height: 1.5rem;
        font-size: 0.9375rem;

    }
    button {
          
        text-align: center;
        padding: 1.2rem;
        background-color: $dark-cyan;
        color: $light-cream;
        border-radius: 10px;
        border: none;
        font-family: $heading-font;
        cursor: pointer;
        font-size: 1.2rem;
        transition: 0.3s;
    }

    button:hover {
        opacity: 90%;
    }
       

}

.our-collection {
    width: 90%;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-size: 2.5rem;
        color: $grey;
        margin-bottom: 1.5rem;
    }
    
}

.collection-container {
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.collection-item {

    img {
        height: 151px;
        margin-bottom: 1.5rem;
    }

    h2 {
        color: $dark-grey-blue;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 3rem;
    }

}
