footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: $dark-grey-blue;
    margin-bottom: 4.5rem;
    min-height: 21.625rem;
    padding: 55px;

    @include breakpoint-up('large') {
        display: flex;
        min-height: unset;
        align-items: center;
    }

    .footer-logo {
        margin-bottom: 3rem;


        @include breakpoint-up('large') {
            margin: unset;
            margin-right: 100px;
        }
        
    }

    .logo-white-text {
        fill:white;
    }

    .footer-navigation {

        ul {
            @include breakpoint-up('large') {
               display: flex;
               width: 21.875rem;
                
            }
            
        }
        

        li {
            margin-bottom: 1.5rem;

            @include breakpoint-up('medium') {
                display: flex;
                margin: 0 auto;
                margin-bottom: 1.5rem;
                width: 17.6875rem;
                justify-content: space-around;
            }

            @include breakpoint-up('large') {
                margin-bottom: unset;
                width: unset;
                
            }
            
        }
        
        a {
            color: $grey;
            text-transform: uppercase;
            font-family: $body-font;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 0.92px;
        }
    }

    .social-links {
        margin-top: 3.0313rem;
        width: 7.5rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @include breakpoint-up('large') {
            width: 100%;
            margin-top: unset;
            justify-content: flex-end;
        }

        img {
            width: 24px;  
            height: 24px;

            @include breakpoint-up('large') {
                margin-right: 24px;
            }
        }
    }

}