.order-summary {
    background-color: $dark-grey-blue;
    padding: 32px 25px;
    border-radius: 10px;
    margin-bottom: 40px;

    h4 {
        text-transform: uppercase;
        font-family: $body-font;
        font-weight: normal;
        color: white;
        opacity: 0.5;
        margin-bottom: 8px;
    }

    p {
        font-family: $heading-font;
        color: white;
        font-size: 24px;
        line-height: 40px;
    }
    span {
        color: #0E8784;
    }
}

.button {
    width: 80%;
    text-align: center;
    padding: 0.9375rem 1.9375rem 0.9375rem 1.9375rem;
    background-color: $dark-cyan;
    color: $light-cream;
    border-radius: 10px;
    border: none;
    font-family: $heading-font;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.3s;
    max-width: 15.625rem;
}

.modal-background {

    display: none;
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    @include breakpoint-up('medium') {
        
        // display: flex; Need to move this to JS
        align-items: center;
    }

}

.modal-container {
    width: 90%;
    margin: 0 auto;

    @include breakpoint-up('medium') {
        max-width: 500px;
    }

    
}

.modal-header {
    background-color: $dark-grey-blue;
    height: 88px;
    margin-top: 35px;
    padding: 28px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-content {
    background-color: #FEFCF7;
    color: $grey;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
    padding-bottom: 24px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    h3 {
        font-size: 24px;
        line-height: 40px;
    }

    p {
        font-size: 15px;
        line-height: 25px;
        opacity: 0.8;
        margin-bottom: 24px;
    }

    button {
        width: 100%;
        max-width: unset;
        font-size: 18px;
    }
}
